@model Cuffs_And_Cufflinks.Models.Order_Model
@{
    
    
    ViewBag.Title = "Checkout";
}
<!--breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Checkout</li>
        </ol>
    </div>
</div>
<h1 style="margin-left:600px; margin-top:80px"><span><b>Order Now</b></span></h1>
<!--//breadcrumbs-->
<div class="container" style="margin-top:70px; margin-left:363px; margin-bottom:160px; width:985px">
    
    <br>
    @using (Html.BeginForm())
    { 
    
    
      <form>

        <div class="form-group form-inline">
            <div class="form-group form-inline">
               
                <label for="usr">First Name:</label>
                @Html.TextBoxFor(Model => Model.First_Name, new { @class = "form-control", @id = "first_name", placeholder = "First Name", style = "margin-left:10px", required = "" })
               
            </div>
            <div class="form-group form-inline" style="margin-left: 40px">
                <label for="usr">Last Name:</label>
                @Html.TextBoxFor(Model => Model.Last_Name, new { @class = "form-control", @id = "last_name", placeholder = "Last Name", style = "margin-left: 7px", required = "" })
                
            </div>

        </div>
        <br>
        <div class="form-group form-inline">
            <label for="email">Email:</label>
            @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", @id = "email", placeholder = "Enter email", @name = "email", style = "width: 52%; margin-left: 40px", required = "" })
            @Html.ValidationMessageFor(Model => Model.Email)
        </div>
        <br>
        <div class="form-group form-inline">
            <div class="form-group form-inline">
                <label for="usr">Phone:</label>
                @Html.TextBoxFor(Model => Model.Phone, new { @class = "form-control", @id = "phone", placeholder = "Phone", pattern = "^([0|+[0-9]{1,5})?([1-9][0-9]{9})$", style = "margin-left:35px", required = "" })
                
            </div>
            <div class="form-group form-inline" style="margin-left: 40px">
                <label for="usr">Your City:</label>
                @Html.TextBoxFor(Model => Model.City, new { @class = "form-control", @id = "city", placeholder = "City", style = "margin-left: 24px", required = "" })
               
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="address">Address:</label>
            @Html.TextAreaFor(Model => Model.Address, new { @class = "form-control", placeholder = "Address", rows = "3", @id = "address", style = "width: 60%", required = "" })
           
        </div>
        <br>
          <input type="submit" class="btn btn-default" style="width:30%; margin-left:152px" value="Submit"> 
       
    </form>
    
   
    }
   

</div>