@model AdminPanel.Models.Table_Size

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table_Size</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.s_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Table_Category.category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Table_Category.category_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.s_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
